*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.log
*.mdb
*.rds
*.shp*
*.shx
*.tex
*.xls*
*_files
.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
_bookdown_files
_builds
_projects
_steps
css
docs
env.list
figure
inst/output
inst/website/*.csv
inst/website/*.yml
inst/website/cover.txt
libs
output
