_bookdown_files
_builds
_projects
_steps
.httr-oauth
.RData
.Rhistory
.Rproj.user
.Ruserdata
*.html
*.log
*.rds
*.tex
css
docs
env.list
figure
inst/output
inst/website/*.csv
inst/website/*.yml
inst/website/cover.txt
